res/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="1.0" xml:lang="en">

    <xs:annotation>
        <xs:documentation> An XML schema for the input of the molecular simulation. </xs:documentation>
    </xs:annotation>

    <xs:element name="simulation" type="sim_t" />

    <xs:complexType name="sim_t">
        <xs:annotation>
            <xs:documentation> This complex type represents the simulation as a whole. @details This
                complex type consists of the parameters for the output and the simulation itself, as
                well as the particles that are to be simulated. </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="output" type="output_t">
                <xs:annotation>
                    <xs:documentation> The parameters used to print the output file. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="param" type="param_t">
                <xs:annotation>
                    <xs:documentation> The parameters describing how the simulation will run. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="particle" type="particle_t" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation> The information needed to generate a lone particle. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="cuboid" type="cuboid_t" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation> The information needed to generate a cuboid of particles. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="output_t">
        <xs:annotation>
            <xs:documentation> This complex type represents the parameters used to print the output.
                @details This complex type consists of the filename, file format, and amount of
                simulation steps executed before the next output. </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="name" type="xs:string" default="MD_vtk">
                <xs:annotation>
                    <xs:documentation> The desired name prefix of the output. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="format" default="VTK">
                <xs:annotation>
                    <xs:documentation> The desired output type. </xs:documentation>
                </xs:annotation>

                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation> This type represents the form of the expected output. </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NO_OUT">
                            <xs:annotation>
                                <xs:documentation> @brief No output wil be printed. </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="VTK">
                            <xs:annotation>
                                <xs:documentation> @brief Output will be printed as VTK files. </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="XYZ">
                            <xs:annotation>
                                <xs:documentation> @brief Output will be printed as XYZ files. </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="frequency" type="xs:int" default="10">
                <xs:annotation>
                    <xs:documentation> The number of time steps between outputs. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="param_t">
        <xs:annotation>
            <xs:documentation> This complex type represents the parameters describing how the
                simulation will run. @details This complex type consists of simulation parameters
                controlling the exact calculation of forces, like simulation step size and
                calculation cutoff. </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <!-- TODO documentation -->
            <xs:element name="calc" default="LJ_FULL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="GRAVITY"></xs:enumeration>
                        <xs:enumeration value="LJ_FULL"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="epsilon" type="xs:double" default="5.0">
                <xs:annotation>
                    <xs:documentation> The depth of the potential well of the Lennard-Jones
                        potential. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="sigma" type="xs:double" default="1.0">
                <xs:annotation>
                    <xs:documentation> The zero crossing of the Lennard-Jones potential. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="delta_t" type="xs:double" default="0.014">
                <xs:annotation>
                    <xs:documentation> Amount of time passing between simulation steps. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="t_end" type="xs:double" default="1000.0">
                <xs:annotation>
                    <xs:documentation> Amount of time the simulate. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="dimensions" default="3">
                <xs:annotation>
                    <xs:documentation> The number of coordinates affected by brownian motion. </xs:documentation>
                </xs:annotation>

                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation> This type represents the number of coordinates affected
                            by the brownian motion. </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:unsignedByte">
                        <xs:minInclusive value="2" />
                        <xs:maxInclusive value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="r_cutoff" type="xs:double" default="3.0">
                <xs:annotation>
                    <xs:documentation> The distance to after which the force calculation is to be
                        neglected. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="particle_t">
        <xs:annotation>
            <xs:documentation> # TODO documentation </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pos_x" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The x coordinate of the particle. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pos_y" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The y coordinate of the particle. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pos_z" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The z coordinate of the particle. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vel_x" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The velocity of the particle in x direction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vel_y" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The velocity of the particle in y direction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vel_z" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The velocity of the particle in z direction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="m" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The mass of the particle. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cuboid_t">
        <xs:annotation>
            <xs:documentation> #TODO documentation </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="pos_x" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The x coordinate of the base particle. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="pos_y" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The y coordinate of the base particle. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="pos_z" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The z coordinate of the base particle </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vel_x" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The rough velocity of the cuboid in x direction. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vel_y" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The rough velocity of the cuboid in y direction. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vel_z" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The rough velocity of the cuboid in z direction. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="m" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The mass of the particles in the cuboid. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="n_x" type="xs:int">
                <xs:annotation>
                    <xs:documentation> The amount of particles in x direction. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="n_y" type="xs:int">
                <xs:annotation>
                    <xs:documentation> The amount of particles in y direction. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="n_z" type="xs:int">
                <xs:annotation>
                    <xs:documentation> The amount of particles in z direction. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="h" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The distance between the particles. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="b_motion" type="xs:double">
                <xs:annotation>
                    <xs:documentation> The average brownian motion in the cuboid. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>